.header {
    background-image: url("../Simpsons_clouds.jpg") !important;
    height: 370px;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px;
}

.header > img {
  width: 350px;

}
.header > .homer {
  position: relative;
  width: 350px !important;
  visibility: visible;
}

@media (min-width: 576px) {
  .header {
    font-size: calc(10px + 14 * (100vw - 320px) / 800);
  }
}